apiVersion: v1
kind: Secret
metadata:
  name: catalog-aws-client-secret
  namespace: demo-soa
stringData:
  access_key_id: "$AWS_ACCESS_KEY_ID"
  secret_access_key: "$AWS_SECRET_ACCESS_KEY"
  session_token: ""
  source: ""

